HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/

### Application Properties for different environments ###
src/main/resources/application-*.properties
!src/main/resources/application.properties
!src/main/resources/application-example.properties

### OS specific files ###
.DS_Store
Thumbs.db

### Maven specific files ###
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties